/* ========================== Timeline Modal ================================ */
.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  background: #00000094;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  z-index: 3000;
}

.modal-container {
  background: white;
  width: 30em;
  max-width: 90%;
  padding: 1em;
  border-radius: 1em;
  position: relative;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.modal-title {
  margin-bottom: 0.5em;
}

.modal-content {
  margin-top: 1em;
}

.action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.modal-container button.close {
  position: absolute;
  right: 0.5em;
  top: 0.1em;
  font-size: 2em;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.active {
  opacity: 1;
  pointer-events: auto;
}

.modal-wrapper.active .modal-container {
  transform: translateY(0px);
}

/* ================================================================== */
